.user-page {
  background: white;
}
.user-info {
  position: relative;
  height: 560px;
  .user-cover {
    .layer {
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .user-cover-img {      
      position: absolute;
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  .user-profile {
    position: absolute;
    width: 100%;
    margin: 26% auto;
    text-align: center;
    .user-icon .avatar{
      object-fit: cover;            
      display: inline-block;
      width: 150px;
      height: 150px;
      border: 2px solid rgba(255, 255, 255, 0.67);
      border-radius: 50%;
    }
    .user-name {
      font-size: 160%;
      font-weight: bold;
      text-shadow: 0 0 10px grey;
    }
    .membership {
      font-size: 110%;
      text-shadow: 0 0 10px grey;
    }
    .since-date {
      font-size: 110%;
      text-shadow: 0 0 10px grey;
    }
  }

  .counter-info {
    background: rgba(255,255,255,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .counter-rep {
      text-align: center;
      margin: 10px auto;
    }
    .counter-followers {
      text-align: center;
      margin: 10px auto;
    }
    .counter-following {
      text-align: center;
      margin: 10px auto;
    }

    .number {
      font-size: 110%;
      font-weight: bold;
    }
    .counter-label {
      font-size: 90%;
    }
  }
}

.member-container {
  background-color: white;
  .members {
    margin-left: 10px;
    margin-right: 10px;
    .avatar{
      object-fit: cover;
      display: inline-block;
      width: 60px;
      height: 60px;
      border: 2px solid rgba(255,255,255,0.5);
      border-radius: 50%;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    li {
      float: left;
    }
  }
  .members:after {
    content: '';
    display: block;
    clear: both;
  }
}

.user-bio {
  margin-left: 10px;
}

.user-post-wrapper {
  padding: 0 10px;  
  a {
    color: #444;    
  }
  a:hover {
    color: #444;
  }
  .user-post-content {
    height: 180px;
    position: relative;
    padding: 15px 20px 15px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebf0;
    .post-image {
      .gallery {
        object-fit: cover;
        height: 140px;
        width: 140px;
        position: absolute;
      }
    }

    .post-text {
      margin: 0 100px 0 180px;
      h5 {
        font-size: 120%;
        font-weight: bold;
      }
      p {
        margin-top: 0;
      }
    }

    .post-info {
      font-size: 100%;
      position: absolute;
      top: 15px;
      right: 20px;
      .num-likes {
          padding-left: 10px;
      }
    }
  }
}

@media(max-width: 900px) {
  .user-post-wrapper .user-post-content .post-text {
    h5 {
      font-size: 110%;
      font-weight: bold;
    }
    p {
      font-size: 100%;
      width: 300px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; 
    }
  }    
}

@media(max-width: 640px) {
  .user-info {
    height: 400px;
    .user-profile {
      .user-icon .avatar{
        width: 100px;
        height: 100px;
      }
      .user-name {
        font-size: 120%;
      }
      .membership {
        font-size: 100%;
      }
      .since-date {
        font-size: 100%;
      }
    }
  }
  .user-post-wrapper {
    .user-post-content {
      height: auto;
      .post-image {
        .gallery {
          object-fit: cover;
          height: 80px;
          width: 80px;
          position: absolute;
        }
      }

      .post-text {
        margin: 0 110px 0 90px;
        h5 {
          font-size: 100%;
          font-weight: bold;
        }
        p {
          font-size: 80%;
          width: 200px;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; 
        }
      }

      .post-info {
        font-size: 100%;
        position: absolute;
        top: 15px;
        right: 20px;
        .num-likes {
            padding-left: 10px;
        }
      }
    }
  }
}

@media(max-width: 370px) {
  .user-post-wrapper .user-post-content 
  .post-text {
    width: 150px;
    p {
      width: 150px;
    }
  }
  .post-info {
    visibility: hidden;
  }
}